<h1>Course Listing</h1>
<ul>
	<li>Code: CS111</LI>
	<li>Name: Intro to Computer Science</li>
	<li>Description: A through intro to Computer Science</li>
</ul>

<ul>
	<li>Code: CS112</LI>
	<li>Name: Intro to Computer Science</li>
	<li>Description: A through intro to Computer Science</li>
</ul>
